.login {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
}

section {
    padding: 1rem;
}

.container {
    margin: 1rem;
    padding: 1rem;
    display: grid;
    #background-color: antiquewhite;
    max-width: fit-content;
}

body {
    background-color: aqua;
    display: flex;
    flex-direction: column;

}

.title {
    margin: 2rem;
}

.doctor {
    opacity: 0.6;
}

.box-eye {
    position: relative;
}

.box-eye button {
    border: none;
    position: absolute;
}

.eyeChange {
    position: absolute;
    top: 1rem;
    left: 14.5rem;
}

input {
    border: none;
    border-radius: 0.2rem;
    margin: 1rem 0;
}
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

.credential {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
