.login {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.forgetPassword {
    padding: 1rem;
}

section {
    padding: 1rem;
}

.container {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    #background-color: antiquewhite;
    max-width: fit-content;
}

body {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 2rem;
}

.doctorimg {
    opacity: 0.6;
}

.eyeChange {
    position: absolute;
    top: 1rem;
    left: 10rem;
}

input {
    border: none;
    border-radius: 0.2rem;
    margin: 1rem 0;
}


.credential {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
