html {
    font-family: Arial;
    display: inline-block;
    text-align: center;
}

p {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.8rem;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* ----------------------------------- TOPNAV STYLE */
.topnav {
    overflow: hidden;
    background-color: #0c6980;
    color: white;
    font-size: 1.2rem;
}
.session {
    display: flex;
    justify-content: right;
    margin: 0.5rem;
    font-size: large;
}
.closed-session a:hover {
    color: #1b78e2;
}
/* ----------------------------------- */

/* ----------------------------------- TABLE STYLE */
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5em;
    overflow: hidden;
    width: 90%;
}

.styled-table thead tr {
    background-color: #0c6980;
    color: #ffffff;
    text-align: left;
}

.styled-table th {
    padding: 12px 15px;
    text-align: left;
}

.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.bdr {
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
}

tr:hover {
    background-color: rgba(12, 105, 128, 0.15);
}

.styled-table tbody tr:nth-of-type(even):hover {
    background-color: rgba(12, 105, 128, 0.15);
}

.btn-group .button {
    background-color: #0c6980;
    border: 1px solid #e3e3e3;
    color: white;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.btn-group .button:not(:last-child) {
    border-right: none;
}

.btn-group .button:hover {
    background-color: #094c5d;
}

.btn-group .button:active {
    background-color: #0c6980;
    transform: translateY(1px);
}

.btn-group .button:disabled,
.button.disabled {
    color: #fff;
    background-color: #a0a0a0;
    cursor: not-allowed;
    pointer-events: none;
}

.managPatient {
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
}

.newpatient {
    padding: 0.2rem 0.5rem;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #0c6980;
}

.newpatient a {
    margin: 0.5rem;
    color: white;
    font-weight: bold;
}

.newpatient:hover {
    background-color: #183153;
}

.container {
    display: grid;
    justify-content: center;
}